---
import '98.css';
import Taskbar from './taskbar.astro';
import Window from './window.astro';
---

<div class="desktop">
	<div class="workspace">
		<div class="window-slot">
			<Window/>
		</div>
	</div>
	<Taskbar/>
</div>

<style>
	.desktop {
		margin: 0px;
		background-color:#008080;
		overscroll-behavior: none;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
	}
	.workspace {
		position: relative;
		height: calc(100vh - 32px);
		overflow: hidden;
	}
	.window-slot {
		position: absolute;
		left: 20%;
		top: 20px;
		width: 70%;
		height: calc(100vh - 58px);
	}
</style>