---
import '98.css';
import Taskbar from './taskbar.astro';
---

<div class="desktop">
	<Taskbar />
</div>

<style>
	.desktop {
		background-color:#008080;
		overscroll-behavior: none;
  	position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
	}
</style>