---
import '98.css';
import github from '../images/githubicon.png';
import medium from '../images/mediumicon.png';
import srccode from '../images/srccodeicon.png';
import shutdown from '../images/shutdownicon.png';
---

<div class="start-menu window">
	<div class = "titlebar">
		<!-- Using the "'" character results in blurry text... -->
		<span><b>Ozaner’s</b>&nbsp;Notes</span>
	</div>
	<div class="content">
		<button aria-label="github">
			<img draggable="false" src={github} alt="github-logo" class="invert-on-hover">
			<span>Github</span>
		</button>
		<button aria-label="medium">
			<img draggable="false" src={medium} alt="medium-logo" class="invert-on-hover">
			<span>Medium</span>
		</button>
		<hr>
		<button aria-label="source-code">
			<img draggable="false" src={srccode} alt="magnifying-glass-over-document">
			<span>Source Code</span>
		</button>
		<button aria-label="shut-down">
			<img draggable="false" src={shutdown} alt="monitor-closing">
			<span>Shut Down</span>
		</button>
	</div>
</div>

<style>
	.start-menu {
		display: flex;
		flex-flow: row;
	}
	.titlebar {
		display: flex;
		background: linear-gradient(rgb(0 0 100), 70%, blue);
		padding: 4px;
		width: 20px;
	}
	.titlebar > span {
		color: white;
		font-size: 16px;
		writing-mode: vertical-rl;
		text-orientation: sideways;
		transform: rotate(180deg);
		margin-top: 8px;
	}
	hr {
		width: 90%;
		align-self: center;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.content > button {
		padding: 8px 16px 8px 8px;
		height: 36px;
		min-width: 160px;
		gap: 12px;
		
		display: flex;
		align-items: center;
		flex-direction: row;

		box-shadow: none!important; /* prevents depth on click */
	}
	.content > button > img {
		height: 32px;
		width: 32px;
		image-rendering: pixelated;
	}
	.content > button > span::first-letter {
		text-decoration: underline;
		text-decoration-color: #222;
	}

	/* hover stuff */
	.content > button:hover {
		background-color: rgb(0 0 128);
		color: white;
	}
	.content > button:hover > .invert-on-hover  {
		filter: invert(1);
	}
	.content > button:hover > span::first-letter {
		text-decoration-color: white;
	}
</style>