---
import '98.css';
import timegear from '../images/timegear.png';
import StartMenu from './start-menu.astro';
---

<div id="menucontainer">
	<StartMenu></StartMenu>
</div>
<div class="taskbar window">
	<button id="startbutton">
		<img src={timegear}>
		Start
	</button>
</div>

<script>
	const cont = document.getElementById("menucontainer")!;
	const start = document.getElementById("startbutton")!;

	//Start button can show and hide menu
	start?.addEventListener('click', function() {
		const invisible = cont.style.display === "none" || !cont.style.display;
		cont.style.display = invisible ? "initial" : "none";
	});

	//All other clicks hide menu
	document.addEventListener("click", function(event) {
		if (event.target !== start && cont?.style.display !== "none") {
			cont.style.display = "none";
		}
	}, true); // Enable event capturing!
</script>

<style>
	#menucontainer {
		display: none;
		position: fixed;
		/* 26 (taskbar height) + 3*2 (padding above/beneath taskbar) = 32px*/
		bottom: 32px;
	}
	#menucontainer::backdrop {
		background: transparent;
	}
	.taskbar {
		overflow: hidden;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 26px;
		display: flex;
	}
	#startbutton {
		font-weight: bold;
		font-size: 14px;
		
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 4px;
	}
	#startbutton img {
		width: 17px;
		height: 17px;
		padding-bottom: 1px;
		image-rendering: pixelated;
	}
</style>