---
import '98.css';
import timegear from '../images/timegear.png';
---

<div class ="taskbar window">
  <button class="start">
    <img src={timegear}>
    Start
  </button>
</div>

<style>
	.taskbar {
		overflow: hidden;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 26px;
		display: flex;
	}
	.start {
		font-weight: bold;
		font-size: 14px;
		
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 4px;
	}
	.start img {
		width: 17px;
		height: 17px;
		padding-bottom: 1px;
		image-rendering: pixelated;
	}
</style>